<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wogame.af">
    <application>
        <!--appsflyer-->
        <receiver android:name="com.appsflyer.SingleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data android:name="CHANNEL" android:value="${AF_CHANNEL}"/>
        <!--end-->
    </application>
</manifest>
